.homeContainer {
  border: 1px solid rgb(114, 114, 114);
  border-radius: 0.5rem;
  box-shadow: 0 0 5px rgb(114, 114, 114);
  height: 25rem;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;

  .header {
    font-size: 1.75rem;
    text-align: center;
  }
}

@media only screen and (min-width: 576px) {
    .homeContainer{
      width: 30rem;

      .header {
        font-size: 2.5rem;
      }
    }
}